


  input:valid {
    border: 1px solid #000000;
  }

  .colortext{
    color: red;
    text-decoration-color: red;
  }


  
 #hint_id_username, #hint_id_password1 {
         display: none;
     }
  
