.colorprincipal{
  background: rgb(218,215,215);
  background: linear-gradient(69deg, rgba(252,248,248,100) 15%, rgba(218,215,215,1) 33%, rgba(179,179,183,1) 62%, rgba(130,132,132,1) 87%);


}

.textbuscar{
    width: 20%;
}

.mg-l {
    margin-left: 100px;
}



    a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

.botones{
    width: 50px;
}


.nombre_Clase{
    background-color: aquamarine;
}

.footers{
  background-color: #e65ac7;
}
