.colorprincipal{
  background: hsla(186, 66%, 40%, 1);

  background: linear-gradient(90deg, hsla(186, 66%, 40%, 1) 0%, hsla(188, 78%, 69%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(186, 66%, 40%, 1) 0%, hsla(188, 78%, 69%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(186, 66%, 40%, 1) 0%, hsla(188, 78%, 69%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#239EAB", endColorstr="#74DEEE", GradientType=1 );
}

.textbuscar{
    width: 20%;
}

.mg-l {
    margin-left: 100px;
}



    a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

.botones{
    width: 50px;
}


.nombre_Clase{
    background-color: aquamarine;
}

.footers{
  background-color: #e65ac7;
}

.not-visible {
  visibility: hidden;
}
