<!DOCTYPE html>
<html>
<head>
    {% load static %}


<title>Panel</title>

<link rel="stylesheet" type="text/css" href="{% static 'panel/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'panel/customss.css' %}">

</head>

<body>

  

  <!– include navbar –> 
   {% include "template/componentes/nav.html" %}

   <!– panel –> 
 
        <div class="container rounded-3 shadow border-dark colorprincipal">
      <div>

    <div class="row  text-center  m-4 ">
        <h4 class="mt-4">Reservaciones</h4>
      </div>
    <div class="row mt-5">
       <div class="col-6 d-flex ">
        <div class=" m-1 w-25 d-flex justify-content-end">
          <p>Buscar</p>
        </div>

    <div class="">
      <div class="mb-3">
        <input type="text"
          class="form-control" name="buscar" id="buscar" aria-describedby="helpId" placeholder="buscar">
      </div>
    </div>
        <div class=" m-1 w-25">

          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-search w-50 " viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>

        </div>
     


       </div>

       <div class="col-6 d-flex justify-content-end">
        <div class="w-25  d-flex justify-content-center">
        <a href="/add_reservacion/">
          <svg   xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </a>
    
        </div>

        <div class="w-25 mt-2">
          
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
        </div>

       </div>

    </div>

</div>

<!– Tabla –> 
<div class="container-md mt-4 pb-5 table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Telefono</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Costo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Exor</td>
        <td>Rodriguez</td>
        <td>56789865</td>
        <td>3/4/2022</td>
        <td>Carga</td>
        <td>Camion</td>
        <td>200$</td>
    
      </tr>
      <tr>
        
      </tr>
      <tr>
        <td>Exor</td>
        <td>Rodriguez</td>
        <td>56789865</td>
        <td>4/4/2022</td>
        <td>pasajero</td>
        <td>Guagua</td>
        <td>300$</td>
    
     
      </tr>
      <tr>
        <td>Exor</td>
        <td>Rodriguez</td>
        <td>56789865</td>
        <td>5/5/2022</td>
        <td>Mantenimiento</td>
        <td>Camion</td>
        <td>100$</td>
      </tr>
    </tbody>
  </table>

  <!– end tabla –> 
  
</div></div></div>

<!– end panel –> 

<!– include footer –> 
{% include "template/componentes/footer.html" %}


<script src="{% static 'panel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'panel/js/custom.js' %}"></script>
</body>
</html>