<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load crispy_forms_tags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>form</title>
    
       
    
    
        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'panel/css/bootstrap.min.css' %}">
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row bg-danger">
                    <h5>hola</h5>

                    <table class="table">
                        {{form.nombre | as_crispy_field}}
                        {{form.correo | as_crispy_field}}
                        {{form.password | as_crispy_field}}
                    </table>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">enviar</button>
                      </div>
                    
                </div>
            </div>
        </form>
    </body>
</html>