
{% extends "transporte/template/base/base.html" %}

    {% load static %}
    {% load crispy_forms_tags %}
    {% block title %} Editar_reservacion {% endblock %}

  {% block content %}
    <form method="post">{% csrf_token %}
    <div class=" container mt-4 rounded-3 shadow border-dark colorprincipal">
     <div class="row">
            <div class="row text-center pt-3"><h5>Editar reservacion</h5></div>
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                              {{form.nombre|as_crispy_field}}
                          </div>
                          <div class="mb-3">
                            {{form.apellido |as_crispy_field}}
                          </div>


                          <div class="mb-3">
                              {{form.telefono |as_crispy_field}}
                          </div>
                          <div class="mb-3">
                              {{form.tipo |as_crispy_field}}
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="row text-center"><label>Fecha</label></div>
                        <div class="row mt-3">
                          <div class=" container col-6 d-flex justify-content-end">

                             <div class="w-25">

                            {{form.dia |as_crispy_field}}
                            </div>
                          </div>
                          <div class="col-6 d-flex justify-content-start">

                            <div class="w-25">

                            {{form.mes |as_crispy_field}}
                            </div>
                          </div>
                        </div>
                        <div class=" container row mt-5">
                          <div class="d-flex justify-content-center">
                              <span class= "">{{form.vehiculo |as_crispy_field}}</span>

                          </div>
                        </div>

                        <div class="container d-flex justify-content-center">
                          <span class="ms-5 mt-2">{{form.costo |as_crispy_field}}</span>

                        </div>
                       </div>
                    </div>

                    {% if messages %}

                    {% for mensaje in messages %}

                    <div class="alert alert-danger">{{mensaje}} </div> <!--  codigo css para el mensaje-->

                    {% endfor%}

                    {% endif %}


              




                    </div>
              </form>

              <div class="container p-4">
                <div class="row d-flex justify-content-end mt-4">

                <a  href="/panel/" type="button" class="btn btn-light m-2 w-25">Cancelar</a>
                <button type="submit" class="btn btn-primary m-2 w-25">Actualizar</button>
                </div>


              </div>




        </div>
    </div>
  </form>



    <script src="{% static 'panel/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'panel/js/custom.js' %}"></script>
{% endblock %}
