    {% extends "transporte/template/base/base.html" %}
    {% load static %}
    {% load crispy_forms_tags %}

    {% block title %}Crear Tarifa {% endblock %}


    {% block content %}
    <form method="post">{% csrf_token %}
    <div class=" container-sm mt-4 rounded-3 shadow border-dark colorprincipal w-50" id="contenedor">
     <div class="row">
            <div class="row text-center pt-3"><h5>Crear Tarifa</h5></div>
            
                <div class="row container-sm d-inline-block w-50" id="principal">
                   
                      
                              {{form.tipo_reservacion|as_crispy_field}}
                       
                          
                            {{form.modelo |as_crispy_field}}


                       
                        
                            {{form.cantidad_km |as_crispy_field}}

                            <div  class="" id="opcion"></div>


                          

                          
                         
                 

                    </div>
              

              <div class="container p-4">
                <div class="row">
                <div class="col-md  d-flex justify-content-end">

              </div>
              <div class="col-xl">
                <div class="row">
                  <div class="col">    
                    <a href="/panels/panelt/" type="button" class="btn btn-light m-2 w-100 ">Cancelar</a>
                   
                       </div>


                       <div class="col">
                        <button type="submit" class="btn btn-primary m-2 w-100">Guardar</button>
                      </div>
                </div>          
             </div>      
            </div>
              </div>




        </div>
    </div>
  </form>

  <script src="{% static 'tarifa/tarifas.js' %}"></script>
  {% endblock %}
